# SPDX-FileCopyrightText: Copyright The Zephyr Project Contributors
# SPDX-License-Identifier: Apache-2.0

if BOARD_HELTEC_CUSTOM_V3_ESP32S3_PROCPU

config POWER_DOMAIN
	default y

config POWER_DOMAIN_GPIO
	default y

endif # BOARD_HELTEC_CUSTOM_V3_ESP32S3_PROCPU
